/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

a {
    text-decoration: none;
    color: var(--primary-color);
}

:root {
    --primary-color: #2F281E;
    --secondary-color: #544837;
    --accent-color:#FF9900;
}

h1,h2,h3,h4,h5,h6{
    font-weight: 700;
    color: var(--primary-color);
}

button {
    font-weight:700;
    letter-spacing: 2px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: white;
    background-color: var(--accent-color);
    border-radius: 4px;
    padding: 11px 25px;
    border-color: var(--accent-color) ;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color:rgba(255, 153, 0, 0.8);
}

/* Main Container For the Whole Page */
.main__container{
    max-width: 1250px;
    width: 100%;
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
    flex-direction: column;
}

/* Header */
header {
    display: flex;
    height: 78px;
    justify-content: flex-end;
    margin: 25px 0px;
    align-items: center;
}


header .logo{
    margin-right: auto;
}

header a {
    padding: 10px;
    font-weight: 400;
    font-size: 14px;
    transition: all 0.3s ease 0s;
}

header a:hover {
    color: var(--accent-color);
}

header .buttons {
    margin: 0px 10px ;
}
#signInBtn {
    background-color: white;
    color: #173A56;
    border-color:#BCD0E5;
    margin: 0 14px;
}
#signInBtn:hover {
    background-color:rgba(255, 170, 0, 0.379);
    border-color: var(--accent-color);
}

/* Super Power Section */
.superpower__container {
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
}
.superpower__container .flex__item {
    flex: 1 1 0px;
    width: 0;
    
}
.superpower__container .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.superpower__container .content h1{
    font-size: 44px;
    line-height: 54px;
}
.superpower__container .content p{
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    margin: 30px 0px 45px 0px;
}
.content .links {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    column-gap: 30px;
    row-gap: 10px;
}
.content .links button{
    padding: 14px 41px;
}

.content .links .watch__video{
    display: flex;
    align-items: center;
    gap: 10px;
}
.content a{
    text-decoration: underline;
    color: var(--accent-color);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    padding: 10px 0px;
}
 
/* Design Tools Section */
.designtools__container {
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../assets/designtools_bgimg.svg");
    background-position:center; 
    background-repeat: no-repeat;
    background-size:cover;
    
}

.designtools__container h1{
    font-size: 36px;
    line-height: 54px;
    text-align:center;
}
.designtools__container .cards__container{
    display: flex;
    margin-top: 46px;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content:space-between;
}

.designtools__container .card{
    margin: 10px 30px;
    flex:1 0 calc(21% - 45px);
    display: flex;
    flex-direction: column;
}
.designtools__container .card img {
    height: 50px; 
    margin-right: auto;
}
.designtools__container .card h2 {
    color: var(--primary-color);
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
    width: fit-content;
    padding: 30px 0 13px 0;
}
.designtools__container .card p {
    color: var(--secondary-color);
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
    text-align: start;
    width: 100%;
}
.designtools__container button {
    margin: 35px 0px;
}

/* Professionals Section */
.professionals__container{
    display: flex;
    row-gap: 150px;
    flex-direction: column;
    margin-top: 120px;
}
.design__sub__container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.professionals__container p{
    color: var(--secondary-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    max-width: 500px;
}
.professionals__container h1{
    color: var(--primary-color);
    font-size: 36px;
    line-height: 54px;
    font-weight: 700;
    padding: 3px 0px 22px;
}
.professionals__container h3{
    color: var(--primary-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    padding: 25px 0px 12px;
}
.professionals__container .flex__item{
    flex: 1 1 0px;
    width: 0;
}
.marketers__sub__container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.managers__sub__container{
    display: flex;
    gap: 100px;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.managers__sub__container .flex__item{
    flex: 1 1 0px;
    width: 0;
}
.managers__sub__container .sub__content{
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 30px;
}
.managers__sub__container .sub__content__item{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    row-gap: 10px;
    column-gap: 30px;
}

.managers__sub__container .sub__content__item img{
    height:35px ;
}
.managers__sub__container .sub__content__item p{
    max-width: 370px;
}

/* Need a Superhero Section */
.needhero_container {
    overflow:hidden;
    margin: 100px 0px 10px 0;
    background-image: url("../assets/needhero_bgimg.svg");
    background-position:center; 
    background-repeat: no-repeat;
    background-size:cover;
    padding: 150px 0px;
}
.needhero_container .content{
    display: flex;
    width: fit-content;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.needhero_container .content h1{
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
}

.needhero_container .content p{
    font-weight: 500;
    font-size: 16px;
    max-width: 65%;
    line-height: 26px;
    color: #567592;
    margin: 22px 0px 45px 0px;
    text-align: center;
}

.needhero_container .content button{
    padding: 15px 30px;
    line-height: 24px;
}

.needhero_container img {
    height: 140px;
}
#img1 {
    position: relative; 
    left: 42px;
    top: 74px;
}
#img2{
    position: relative; 
    left: 293px;
    top: -20px;
   
}
#img3{
    position: relative; 
    left: 467px;
    top: 122px;
  
}
#img4{
    position: relative; 
    left: 458px;
    top: -20px;
}
#img5{
    position: relative; 
    left: -609px;
    top: 28px;
}


/* Strategy Section */
.strategy__container {
    display: flex;
    flex-direction: column;
    margin: 50px 0px;
}
.strategy__container h1 {
    font-weight: 700;
    font-size: 34px;
    line-height: 51px;
}
.strategy__container > p:first-of-type{
    color: var(--secondary-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    margin-top: 9px;
}
.strategy__container p{
    color: var(--secondary-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}

.slider {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 30px;
    flex-direction: row;
    margin: 55px 0px;
    justify-content: space-between;
}
.card{
    flex: 1 0 25%;
}

.card span{
   font-size: 16px;
   font-weight: 700;
   line-height: 28px;
}
.card p{
    margin: 25px 0 12px 0;
 }
 .card h2{
     width: 90%;
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
 }
 .card:nth-child(2) h2{
    color: var(--accent-color);
 }

.strategy__container > img {
    margin: 0 auto;
    padding: 20px 0px 0px;
}


/* Footer */
footer {
    margin: 120px 0px 95px 0px;
}
footer hr {
    height: 1px;
    color: #BCD0E57F;
}

footer ul {
    list-style: none;
    padding: 0 10px;
}
footer ul a {
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
    color: var(--secondary-color);
}

footer ul a:hover {
    color: var(--accent-color);
}

  
  .footer__logo {
    margin-top: 5%;
    padding: 30px;
    margin-right: auto;
    
  }
  
  .footer__sub__container {
    width: 75%;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  footer .sign__up__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  footer .sign__up__container input{
      padding: 10px;
      border: 1px solid #BCD0E5;
      box-sizing: border-box;
      border-radius: 4px;
      margin-bottom: 20px;
  }
  footer .sign__up__container button{
    width: fit-content;
    box-sizing: border-box;
}

